.additional {
  position: relative;
  margin-bottom: 35px;
  @include max-width-mobile;
  @media (min-width: $width-tablet) {
    max-width: 100%;    
    margin-bottom: 76px;
  }
  @media (min-width: $width-desktop) {
    margin-bottom: 17px;
  }
  &::before {
    @include green-line;
    top: 42px;
    @media (min-width: $width-tablet) {
      top: 30px;
    }
  }
}

.additional__title {
  width: 226px;
  margin-top: 28px;
  margin-bottom: 34px;
  @include padding-mobile;
  @include fildset-title;
  background-color: #ffffff;
  @media (min-width: $width-tablet) {
    width: 338px;
    margin-top: 8px;
    margin-bottom: 80px;
    margin-left: 28px;
    padding-right: 36px;
    padding-left: 39px;
    font-size: 36px;
    line-height: 36px;
  }
  @media (min-width: $width-desktop) {
    margin-left: 0;
    margin-right: auto;
  }
}

.additional__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media (min-width: $width-tablet) {
    @include max-width-tablet;
  }
  @media (min-width: $width-desktop) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    @include padding-desktop;
  }
}

.additional__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  @include list;
  @include padding-mobile;
  margin-bottom: 39px;
  box-sizing: border-box;
  @media (min-width: $width-tablet) {
    margin-bottom: 69px;
    @include padding-tablet;
  }
  @media (min-width: $width-desktop) {
    width: 73.361%;
    padding: 0;
  }
}

.additional__item {
  padding-bottom: 17px;
  border-top: 1px solid $color-11;
  &:last-child {
    border-bottom: 1px solid $color-11;
  }
  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 36px 27px 37px;
    border: 1px solid $color-11;
    border-bottom: none;
  }
  @media (min-width: $width-desktop) {
    align-items: center;
    padding: 16px 0 15px;
    border-left: none;
    border-right: none;
  }
}

.additional__name {
  margin: 13px 0;
  font-size: 16px;
  line-height: 16px;
  color: $color-02;
  font-weight: 400;
  text-transform: uppercase;
  @media (min-width: $width-tablet) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
  @media (min-width: $width-desktop) {
    width: 31.845%;
  }
}

.additional__table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 14px;
  color: $color-03;
  font-family: "Arial";
  @media (min-width: $width-tablet) {
    width: 50%;
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 20px;
  }
  @media (min-width: $width-desktop) {
    width: 31.845%;
    margin-bottom: 0;
  }
}

.additional__tr {
  padding: 0;
  &--price {
    text-align: right;
  }
  @media (min-width: $width-tablet) {
    padding-top: 5px;
    text-align: right;
    &--price {
      width: 94px;
    }    
  }
  @media (min-width: $width-desktop) {
    text-align: left;
    &--quantity {
      width: 84.5%;
    }
    &--price {
      width: 15.5%;
    }
  }
}

.additional__gift-container {
  width: 100%;
  @include padding-mobile;
  box-sizing: border-box;
  @media (min-width: $width-tablet) {
    @include padding-tablet;
  }
  @media (min-width: $width-desktop) {
    width: 20.082%;
    padding: 0;
  }    
}

.additional__gift {
  position: relative;
  min-height: 289px;
  margin: 0;
  padding: 187px 45px 42px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Arial";
  text-align: center;
  background: $color-14 url("../img/gift-photo-mobile@1x.jpg") no-repeat center 0/280px 289px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
  @media (min-width: $width-tablet) {
    min-height: 200px;
    padding: 72px 100px 68px 59.7%;
    text-align: left;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px 200px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }
  @media (min-width: $width-desktop) {
    min-height: 289px;
    padding: 187px 30px 42px;
    text-align: center;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: 245px 289px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 50%;
    width: 55px;
    height: 60px;
    margin-left: -27.5px;
    background: url("../img/svg/gift.svg") no-repeat 0 0;
    @media (min-width: $width-tablet) {
      left: 12.8%;
      margin-left: 0;
    }
    @media (min-width: $width-desktop) {
      left: 50%;
      margin-left: -27.5px;
    }
  }
}