.main-nav {
  @media (min-width: $width-tablet) {
    flex-grow: 1;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 11px;
  right: 20px;
  margin-top: 12px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:active {
    fill: $color-06;
  }
  @media (min-width: $width-tablet) {
    display: none;
  }
}

.main-nav__cross,
.main-nav__burger {
  display: none;
}

@media (max-width: $width-before-tablet) {
  .main-nav--closed .main-nav__burger,
  .main-nav--opened .main-nav__cross {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle,
  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--nojs .site-list,
  .main-nav--opened .site-list {
    display: flex;
  }  
}