.map {
  position: relative;
  width: 100%;
  height: 362px;
  background:
    url("../img/map-pin.png") no-repeat center 139px/55px 53px,
    url("../img/bg-map-mobile@1x.png") no-repeat center -38px/320px 400px;
  background-color: $color-04;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
  @media (min-width: $width-tablet) {
    height: 395px;
    background: 
      url("../img/map-pin.png") no-repeat center 146px/122px 106px,
      url("../img/bg-map-tablet@1x.png") no-repeat center -4px/767px 400px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }
  @media (min-width: $width-desktop) {
    height: 400px;
    background: 
      url("../img/map-pin.png") no-repeat 928px 150px/122px 106px,
      url("../img/bg-map-desktop@1x.png") no-repeat center/1440px 400px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}

.map__iframe {
  width: 100%;
  height: 100%;
}