@mixin padding-mobile {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin padding-tablet {
  padding-left: 30px;
  padding-right: 30px;
}

@mixin padding-desktop {
  padding-left: 40px;
  padding-right: 40px;
}

@mixin max-width-mobile {
  max-width: $max-width-mobile;
  margin-left: auto;
  margin-right: auto;
}

@mixin max-width-tablet {
  max-width: $max-width-tablet;
  margin-left: auto;
  margin-right: auto;
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title {
  font-size: 36px;
  line-height: 60px;
  color: $color-01;
  font-weight: 400;
}

@mixin text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial";
  color: $color-02;
}

@mixin svg {
  fill: #656565;
  &:hover,
  &:focus {
    fill: #67b737;
  }
  &:active {
    opacity: 0.3;
  }
}

@mixin page-title {
  font-size: 36px;
  line-height: 60px;
  color: $color-01;
  font-weight: 400;
}

@mixin fildset-title {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  color: $color-01;
  font-weight: 400;
}

@mixin green-line {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-color: $color-06;
}