$width-mobile: 320px;
$max-width-mobile: 590px;
$width-before-tablet: 767px;
$width-tablet: 768px;
$max-width-tablet: 1100px;
$width-before-desktop: 1299px;
$width-desktop: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-01: #111111;
$color-02: #222222;
$color-03: #444444;
$color-04: #f2f2f2;
$color-05: #68b738;
$color-06: #67b737;
$color-07: #e6e6e6;
$color-08: #65a93c;
$color-09: #5eaa2f;
$color-10: #d9d9d9;
$color-11: #cdcdcd;
$color-12: #ededed;
$color-13: #ebebeb;
$color-14: #74b84b;
$color-15: #ff8282;